# Node dependencies
node_modules/
dist/
build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
vite_error.log*

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project specifics
server/node_modules/
client/node_modules/
client/dist/
*.log
